:root {
    /*
  --color3: #ffd461;
  --color1: #ef7b3e;
  --color2: #ea5455;
  --color4: #2c4059;
  --contrast: lime;
  */

    --color1: #6c5fa7;
    --color2: #6b3779;
    --color3: #b24968;
    --color4: #fa8573;
    --contrast: #faee1c;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Garamond;
    font-size: 62.5%;
    scrollbar-width: none;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 25%;
    width: 100%;
    height: 50px;
    max-height: 50px;
    z-index: 10;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    width: 100%;
    padding-right: 2rem;
    background-color: var(--color1);
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

li a {
    display: block;
    font-size: 2.2rem;
    text-decoration: none;
    padding: 1.8rem 2rem;
    color: white;
}

li a:hover {
    background-color: var(--color2);
}

li a:active {
    background-color: var(--color2);
}

#page-wrapper {
    background: linear-gradient(var(--color2) 0%, var(--color1) 100%);
}

#personal-info {
    padding-top: 7%;
    font-size: 4rem;
    height: 100%;
}

#personal-info h1 {
    font-size: 8rem;
    color: var(--color4);
    text-align: center;
    text-decoration: underline;
}

#list {
    font-size: 3rem;
    line-height: 105%;
    text-align: left;
    color: white;
}

#list li {
    list-style: none;
}

#list li span {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
    color: var(--contrast);
}

#contact {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 4rem;
    line-height: 1;
}

#contact h1 {
    display: block;
    padding: 5rem;
    text-align: center;
    font-size: 8rem;
    color: var(--color4);
    padding-top: 6rem;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 20px;
}

.profile-link {
    display: flex;
    gap: 10px;
    font-size: 6rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--contrast);
}

.profile-link:hover {
    scale: 125%;
}

.footnote {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    color: var(--color4);
}

.fcc-link {
    text-decoration: none;
    font-size: 2rem;
    color: var(--contrast);
}